@import './utils/breakpoints.scss';
@import './utils/fonts.scss';
@import './utils/mixins.scss';
@import './utils/reset.scss';
@import './utils/vars.scss';
// @import './utils/iconmoon.scss';
// @import './../../pug/components/components.scss';

body {
  font-family: $default-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  background-color: #f7f7f7;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.item {

  &__header {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

.component-list {
  padding-left: 32px;

  &__sublist {
    padding-left: 48px;
    display: flex;
    flex-direction: column;
  }

  &__sublist-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}

.item-info-list {
  display: flex;
  column-gap: 16px;
  align-items: flex-start;

  &__item {
    display: flex;
    column-gap: 16px;
    border: solid 1px black;
    padding: 12px 16px;
    flex: 1 0;
    
    &:nth-child(3) {
      flex: 2 0;
    }

    &:nth-child(4), &:nth-child(5) {
      flex: 5 0;
    }

    &_header {
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}